.section-a-1 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(165, 24, 24, 0.65)), color-stop(59%, rgba(160, 28, 28, 0.5)), color-stop(100%, rgba(165, 24, 24, 0))), url('../resource/images/tnw-livestream.jpg') no-repeat;
    max-width: 50%;
    height: 300px;
}

.section-a-2 {
    background: url('../resource/images/conference.jpg') no-repeat;
    height: 300px;
}

.section-a-3 {
    background: url('../resource/images/bumble-founder.jpg') no-repeat;
    height: 300px;
}


/* .section-b-main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
} */

.headline-1 {
    background: url('../resource/images/headline1.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-2 {
    background: url('../resource/images/headline2.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-3 {
    background: url('../resource/images/headline3.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-4 {
    background: url('../resource/images/headline4.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-5 {
    background: url('../resource/images/headline5.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-6 {
    background: url('../resource/images/headline6.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-7 {
    background: url('../resource/images/headline7.png') no-repeat;
    width: 500px;
    height: 500px;
}

.headline-8 {
    background: url('../resource/images/headline8.png') no-repeat;
    width: 500px;
    height: 500px;
}

/* Mobile Display Starts Here */


.nav-1 , .nav-2, .nav-2-right{
    display: none;
}

.mobile-logo-image{
    /* background:linear-gradient(to bottom right , rgb(215,59,113), rgb(236,64,52)); */
    background-color: blue;
    height: 100px;
    width: 100px;
}
