/* .section-b-main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
} */


/* desktop view */

* {
    box-sizing: border-box;
}

.nav-bar {}

.nav-1 {
    background-color: black;
    color: whitesmoke;
    padding: 20px 20px 20px 120px;
}

.nav-1 a {
    color: gray;
    text-decoration: none;
    padding-right: 15px;
}

.nav-1 a:hover {
    color: white;
}

.nav-2 {
    background-color: rgb(254, 254, 254);
    padding: 20px 20px 20px 120px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
    font-size: 12px;
    z-index: 10;
}

.nav-2 a {
    color: rgb(178, 178, 178);
    text-decoration: none;
    padding-right: 15px;
}

.nav-2 a:hover {
    color: black;
}

.nav-2-right {
    float: right;
    border-left: 1px solid gray;
    padding: 0 0 0 20px;
}

#logo1 {
    width: 125px;
    height: 16px;
}

.hide-menu {
    display: none;
}

.nav-2-right span {
    padding-right: 15px;
    color: gray;
}

.nav-2-right button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(87, 202, 202);
    color: white;
    cursor: pointer;
}

.nav-3 {
    display: block;
    background-color: rgb(252, 221, 76);
    padding: 10px 20px 10px 120px;
    position: sticky;
    top: 48px;
    color: #000;
    font-size: 14px;
    box-shadow: 0 16px 48px #00000026;
    z-index: 10;
}

.logo-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 106px;
    background-color: #f42;
    background: linear-gradient(to bottom right, #c09, #f42 85%);
    text-align: center;
    z-index: 9;
}

.logo-top img {
    width: 70px;
    height: 35px;
    padding: 10px 0 10px 0;
    z-index: 9;
    vertical-align: middle;
}


/* Headline Section Starts here */

.section-a {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 270px 270px;
    grid-template-areas: "a b" "a c";
    grid-gap: 10px;
}

.section-a-1 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(165, 24, 24, 1)), color-stop(59%, rgba(160, 28, 28, 0.5)), color-stop(100%, rgba(165, 24, 24, 0))), url('../resource/images/tnw-livestream.jpg') no-repeat;
    grid-area: a;
    background-size: cover;
    padding: 20px;
}

.section-a-2 {
    background: url('../resource/images/conference.jpg') no-repeat;
    grid-area: b;
    background-size: cover;
}

.section-a-3 {
    background: url('../resource/images/bumble-black.jpg') no-repeat;
    grid-area: c;
    background-size: cover;
}

#resize {
    width: 500px;
    height: 200px;
    padding-bottom: 100px;
}

.insights {
    color: white;
    font-size: 20px;
}

.section-a-1 h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding-top: 10px;
    line-height: 1.1;
}

.written-by {
    color: rgb(148, 148, 148);
    padding-top: 10px;
}

.space-image {
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
}

.section-a-2,
.section-a-3 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.section-a-2 h1,
.section-a-3 h1 {
    color: white;
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section-b {
    padding-top: 60px;
}

.section-b h1 {
    width: 80%;
    margin: 0 auto;
}

.section-b-main-div {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px;
    grid-column-gap: 25px;
    grid-row-gap: 30px;
}

.heading-style {
    font-size: 30px;
    color: rgb(237, 64, 51);
    font-weight: bold;
    padding: 10px 0 20px 0;
    text-decoration: none;
}

.heading-style:hover {
    color: black;
    cursor: pointer;
}

.section-b-main-div a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.2;
}

.section-b-main-div a:hover {
    text-decoration: underline;
    color: rgb(237, 64, 51);
}

.section-b-main-div p {
    color: rgb(179, 179, 179);
    font-size: 12px;
    padding-top: 5px;
}

.section-b-main-div p a {
    color: rgb(179, 179, 179);
    font-size: 12px;
    padding-right: 4px;
}

.section-b-main-div p a:hover {
    text-decoration: none;
    color: rgb(36, 35, 35);
}


/* Funding Section Starts here */

.section-c {
    padding-top: 60px;
}

.small-info {
    float: right;
    padding: 8px 0 8px 0;
}

.small-info a {
    text-decoration: none;
    color: rgb(237, 64, 51);
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px rgb(237, 64, 51);
}

.small-info a:last-child {
    border: none;
}

.small-info a:hover {
    color: black;
}

.section-c-1 {
    width: 80%;
    margin: 0 auto;
}

.section-c-2 {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    width: 80%;
}

.section-c-2 p {
    padding: 10px;
    color: rgb(113, 113, 113);
    font-size: 14px;
    line-height: 1.5;
}

.funding-1,
.funding-2,
.funding-3,
.funding-4 {
    background-color: rgb(254, 250, 248);
    position: relative;
}

.section-c-2 p img {
    padding-right: 10px;
}

#partners {
    padding: 0 0 0 40px;
}

.section-c-2 .border-top {
    padding-top: 15px;
    border-top: solid 1px rgb(247, 197, 189);
}

.section-d {
    padding: 50px 0 0 0;
}

.headlines {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 700px 700px 700px;
    grid-gap: 20px;
    justify-content: end;
}

.headline-1 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline1.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}

.headline-2 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline2.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}

.headline-3 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline3.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}


.headline-4 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline4.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px

}

.headline-5 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline5.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}

.headline-6 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline6.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}

.headline-7 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline7.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}

.headline-8 {
    background: -webkit-gradient(linear, right bottom, right top, color-stop(0%, rgba(25, 25, 25, 1)), color-stop(59%, rgba(25, 25, 25, 0.5)), color-stop(100%, rgba(25, 24, 24, 0))), url('../resource/images/headline8.png') no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}
.headlines h1 {
    color:white;
    font-weight: bolder;
    font-size: 22px;
    line-height: 1.2;
}

.headlines h2{
    color: white;
    font-size: 14px;
    line-height: 1.5;
}

.writer{
    color: rgb(156, 156, 156);
    line-height: 1.5;
    font-size: 12px;
}

.headline-1-content{
    display: block;
}

.latest-image img{
    float: right;
    max-height: 100%;
}

.latest-image{
    background-color: rgb(253, 242, 241);
    height: 99px;
    padding-top: 5px;
}


.latest-image p{
    padding: 0 0 0 10px;
    color: rgb(237, 64, 51);
    font-weight: bold;
    line-height: 1.2;
}
.latest-image .latest1{
    padding: 10px 0 5px 10px;
    font-weight: 400;
    font-size: 14px;
}
/* .sub-pointers ul {
    list-style: none;
} */
/* .sub-pointers li::before {
    content: "▪"; 
    color: red;
    left: 0;
    width: 14px;
} */


.sub-pointers{
    background-color: yellow;
    
}
.sub-pointers ul li{
    list-style-position: outside;
    list-style: square;
    color: red;
    margin: 1em;
}

.sub-pointers ul li a{
    color: black;
    text-decoration: none;
}